<p>
  <strong>Title</strong><br>
  <%= @question.title %><br>

  <strong>Description</strong><br>
  <%= @question.description %><br>

  <% unless @question.answers.empty? %>
    <strong>Answers</strong><br>
    <% @question.answers.order('updated_at ASC').each do |q| %>
      <%= q.answer_body %>
    <%end%>
  <%end%>
</p>
